.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.loader {
  position: absolute;
  left: 50%;
  top: 45%;
  border: 0.4rem solid var(--theme-mid-foreground);
  border-top: 0.4rem solid var(--theme-mid-backgroud);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}