:root {
  --theme-mid-backgroud: #00796b;
  --theme-mid-foreground: #e2e2e2;
  --theme-light-backgroud: #56cab7;
  --theme-light-foreground: #141414;
  --theme-dark-backgroud: #004c40;
  --theme-dark-foreground: #a7a7a7;
  --theme-page-background: #f5f5f5;
  --theme-page-font-color: var(--theme-light-foreground);

  --header-height: 2.5rem;

  --animation-speed-slow: 1.0s;
  --animation-speed-medium: 0.5s;
  --animation-speed-fast: 0.25s;

}

body {
  margin: 0;
  font-family: Roboto, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--theme-page-background);
  color: var(--theme-page-font-color);
}
